<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-nursery-stock-details-heading" jhiTranslate="projectghApp.nurseryStockDetails.home.createOrEditLabel">Create or edit a Nursery Stock Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!nurseryStockDetails.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="nurseryStockDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="nurseryStockDetails.date"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="nurseryStockDetails.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="nurseryStockDetails.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="nurseryStockDetails.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.batch" for="field_batch">Batch</label>
                    <select class="form-control" id="field_batch" name="batch" [(ngModel)]="nurseryStockDetails.batchId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="batchOption.id" *ngFor="let batchOption of batches; trackBy: trackBatchById">{{batchOption.batchName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.nurseryStock" for="field_nurseryStock">Nursery Stock</label>
                    <select class="form-control" id="field_nurseryStock" name="nurseryStock" [(ngModel)]="nurseryStockDetails.nurseryStockId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nurseryStockOption.id" *ngFor="let nurseryStockOption of nurserystocks; trackBy: trackNurseryStockById">{{nurseryStockOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.itNursery" for="field_itNursery">It Nursery</label>
                    <select class="form-control" id="field_itNursery" name="itNursery" [(ngModel)]="nurseryStockDetails.itNurseryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="nurseryOption.id" *ngFor="let nurseryOption of nurseries; trackBy: trackNurseryById">{{nurseryOption.nurseryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.saplingDamageArea" for="field_saplingDamageArea">Sapling Damage Area</label>
                    <select class="form-control" id="field_saplingDamageArea" name="saplingDamageArea" [(ngModel)]="nurseryStockDetails.saplingDamageAreaId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pickListValueOption.id" *ngFor="let pickListValueOption of picklistvalues; trackBy: trackPickListValueById">{{pickListValueOption.pickListValue}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.nurseryStockDetails.financialYearStockDetails" for="field_financialYearStockDetails">Financial Year Stock Details</label>
                    <select class="form-control" id="field_financialYearStockDetails" name="financialYearStockDetails" [(ngModel)]="nurseryStockDetails.financialYearStockDetailsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="financialYearSettingsOption.id" *ngFor="let financialYearSettingsOption of financialyearsettings; trackBy: trackFinancialYearSettingsById">{{financialYearSettingsOption.batchName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
