<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pick-list-value-heading" jhiTranslate="projectghApp.pickListValue.home.createOrEditLabel">Create or edit a Pick List Value</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pickListValue.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pickListValue.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.pickListValue.pickListValue" for="field_pickListValue">Pick List Value</label>
                    <input type="text" class="form-control" name="pickListValue" id="field_pickListValue"
                        [(ngModel)]="pickListValue.pickListValue" required/>
                    <div [hidden]="!(editForm.controls.pickListValue?.dirty && editForm.controls.pickListValue?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.pickListValue?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.pickListValue.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="pickListValue.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.pickListValue.pickList" for="field_pickList">Pick List</label>
                    <select class="form-control" id="field_pickList" name="pickList" [(ngModel)]="pickListValue.pickListId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pickListOption.id" *ngFor="let pickListOption of picklists; trackBy: trackPickListById">{{pickListOption.pickListName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.pickListValue.pickValue" for="field_pickValue">Pick Value</label>
                    <select class="form-control" id="field_pickValue" name="pickValue" [(ngModel)]="pickListValue.pickValueId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pickListValueOption.id" *ngFor="let pickListValueOption of picklistvalues; trackBy: trackPickListValueById">{{pickListValueOption.pickListValue}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
