<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="godownStock">
            <h2><span jhiTranslate="projectghApp.godownStock.detail.title">Godown Stock</span> {{godownStock.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectghApp.godownStock.currentQuantity">Current Quantity</span></dt>
                <dd>
                    <span>{{godownStock.currentQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.addedQuantity">Added Quantity</span></dt>
                <dd>
                    <span>{{godownStock.addedQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.consumedQuantity">Consumed Quantity</span></dt>
                <dd>
                    <span>{{godownStock.consumedQuantity}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.description">Description</span></dt>
                <dd>
                    <span>{{godownStock.description}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.status">Status</span></dt>
                <dd>
                    <span>{{godownStock.status}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.pickListVariety">Pick List Variety</span></dt>
                <dd>
                    <div *ngIf="godownStock.pickListVarietyId">
                        <a [routerLink]="['/pick-list-value', godownStock.pickListVarietyId, 'view']">{{godownStock.pickListVarietyPickListValue}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.pickListCategory">Pick List Category</span></dt>
                <dd>
                    <div *ngIf="godownStock.pickListCategoryId">
                        <a [routerLink]="['/pick-list-value', godownStock.pickListCategoryId, 'view']">{{godownStock.pickListCategoryPickListValue}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.pickListQuantityType">Pick List Quantity Type</span></dt>
                <dd>
                    <div *ngIf="godownStock.pickListQuantityTypeId">
                        <a [routerLink]="['/pick-list-value', godownStock.pickListQuantityTypeId, 'view']">{{godownStock.pickListQuantityTypePickListValue}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.godown">Godown</span></dt>
                <dd>
                    <div *ngIf="godownStock.godownId">
                        <a [routerLink]="['/godown', godownStock.godownId, 'view']">{{godownStock.godownName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectghApp.godownStock.financialYearGodownStock">Financial Year Godown Stock</span></dt>
                <dd>
                    <div *ngIf="godownStock.financialYearGodownStockId">
                        <a [routerLink]="['/financial-year-settings', godownStock.financialYearGodownStockId, 'view']">{{godownStock.financialYearGodownStockBatchName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/godown-stock', godownStock.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
