<div class="animated fadeIn">
    <div id="collapseBasic" [collapse]="isCollapsed" class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Nursery Mapped Details
                    <button type="button" class="btn btn-sm btn-danger float-right" 
                        (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" 
                        aria-controls="collapseBasic">
                            <fa-icon [icon]="'times'"></fa-icon> close
                    </button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table font12">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Sector Name</th>
                                <th>Nursery Name</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Description</th>
                                <th>Created At</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of mapNurseryWithSectors; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{val.sectorSectorName}}</td>
                                <td>{{val.nurseryNurseryName}}</td>
                                <td>{{val.fromDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{val.toDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{val.description}}</td>
                                <td>{{val.createdAt | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <span *ngIf="val.status == 1" class="badge badge-success">Active</span>
                                    <span *ngIf="val.status == 2" class="badge badge-danger">InActive</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Display the Nursery List-->
    <div class="row">
        <div class="col-md-12">
            <!-- Display the success Message alert-->
            <div>
                <ngb-alert *ngIf="successMessage" type="success" 
                    (close)="successMessage = null">{{ successMessage }}</ngb-alert>
            </div>
            <!-- End of the success alert-->
            <div class="card">
                <div class="card-header">
                    <strong><i class="fa fa-align-justify"></i> Nursey List</strong>
                    <button type="button" class="btn btn-sm btn-brand btn-success float-right" 
                        data-toggle="modal" (click)="createNursery()"
                        ngbTooltip="Add nursery" placement="bottom">
                        <fa-icon [icon]="'plus'"></fa-icon> Add
                    </button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table font12">
                        <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                <th>S.No</th>
                                <th jhiSortBy="financialYearNurseryBatchName">Year <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="zonalName">Zonal <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="sectorSectorName">Sector <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="code">Code <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="nurseryName">Name <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="nurseryAddress">Address <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="nurseryTypePickListValue">Type <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let value of nurserys; let i = index; trackBy: trackId">
                                <td>{{i+1}}</td>
                                <td>{{value.financialYearNurseryBatchName}}</td>
                                <td>{{value.zonalName}}</td>
                                <td>{{value.sectorSectorName}}</td>
                                <td>{{value.code}}</td>
                                <td>{{value.nurseryName}}</td>
                                <td>{{value.nurseryAddress}}</td>
                                <td>{{value.nurseryTypePickListValue}}</td>
                                <td>
                                    <!-- <button type="button" class="btn btn-sm btn-ghost-info" data-toggle="modal" (click)="getNurseryValue(value)"><fa-icon [icon]="'pencil-alt'"></fa-icon> Edit</button>
                                    <button type="button" class="btn btn-sm btn-ghost-danger" (click)="deleteNursery(value)"><fa-icon [icon]="'times'"></fa-icon> Delete</button> -->
                                    <a class="text-info" data-toggle="modal" ngbTooltip="Mapped Details " placement="left" 
                                        (click)="getMapList(value.id)" [attr.aria-expanded]="isCollapsed" aria-controls="collapseBasic">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                    </a>
                                    <a class="text-success ml-2" data-toggle="modal" ngbTooltip="Move to another sector " placement="left" 
                                        (click)="getNurseryValue(value, 1)"><fa-icon [icon]="'fast-forward'"></fa-icon>
                                    </a>
                                    <a class="text-primary ml-2" data-toggle="modal" ngbTooltip="Edit " placement="left" 
                                        (click)="getNurseryValue(value, 2)"><fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    </a>
                                    <a class="text-danger ml-2" ngbTooltip="Delete" placement="top" 
                                        (click)="softDelete(value)"><fa-icon [icon]="'times'"></fa-icon>
                                    </a>
                                    <!-- <a class="text-success btn btn-sm btn-ghost-success" ngbTooltip="Move Nursery" placement="right" 
                                        (click)="moveNursery(value)"><fa-icon [icon]="'flag'"></fa-icon>
                                    </a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="nurserys && nurserys.length" class="card-footer">
                    <!-- <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div> -->
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of the nursery List displaying-->

<!-- Create and updte the nursery, Based on the nursery Id, we can able to update -->
<div bsModal #nurseryModal="bs-modal" class="modal fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h6 class="modal-title">Update {{nurseryObject.nurseryName}}</h6> -->
                <h6 class="modal-title">{{title}}</h6>
                <button type="button" class="close" 
                    (click)="closeNurseryModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font13">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <input [(ngModel)]="nurseryObject.id" type="hidden" 
                        id="id" name="id" class="form-control">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <span class="text-danger" *ngIf="errorMessage"
                                (close)="errorMessage = null">{{ errorMessage }}</span>
                        </div>
                    </div>
                    <div *ngIf="!nurseryObject.id" class="row">
                        <div class="form-group col-sm-4">
                            <label for="select1">Head Office *</label>
                            <select [(ngModel)]="nurseryObject.operationalHeadId" 
                                id="operationalHeadId" name="operationalHeadId" class="form-control" 
                                (change)="getZoneList(nurseryObject.operationalHeadId)">
                                <option value="0" disabled selected>Select Head Office</option>
                                <option *ngFor="let operationalHead of operationalHeads" 
                                    value={{operationalHead.id}}>{{operationalHead.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="select1">Zonal Name *</label>
                            <select [(ngModel)]="nurseryObject.zoneId" 
                                id="zoneId" name="zoneId" class="form-control" 
                                (change)="getSector(nurseryObject.zoneId)">
                                <option value="0" disabled selected>Select Zonal Name</option>
                                <option *ngFor="let zonal of zonals" 
                                    value={{zonal.id}}>{{zonal.zoneName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="select1">Sector Name*</label>
                            <select [(ngModel)]="nurseryObject.sectorId" 
                                id="sectorId" name="sectorId" class="form-control">
                                <option value="0" disabled selected>Select Sector Name</option>
                                <option *ngFor="let sectorValue of sectors" 
                                    value={{sectorValue.id}}>{{sectorValue.sectorName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="text-input">Nursery Code *</label>
                            <input [(ngModel)]="nurseryObject.code" type="text" 
                                id="code" name="code" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="text-input">Nursery Name *</label>
                            <input [(ngModel)]="nurseryObject.nurseryName" type="text" 
                                id="nurseryName" name="nurseryName" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="name">Pick Nursery Type* </label>
                            <select [(ngModel)]="nurseryObject.pickListId" id="pickListId" 
                                name="pickListId" class="form-control" 
                                (change)="getVariety(nurseryObject.pickListId)">
                                <option value="0" disabled selected>Select</option>
                                <option *ngFor="let pickList of pickLists"
                                    value={{pickList.id}}>{{pickList.pickListName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="name">Nursery Type*</label>
                            <select [(ngModel)]="nurseryObject.nurseryTypeId"
                                id="nurseryTypeId" name="nurseryTypeId" class="form-control">
                                <option value="0" disabled selected>Select Type</option>
                                <option *ngFor="let val of varietys" 
                                    value={{val.id}}>{{val.pickListValue}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="textarea-input">Address</label>
                            <textarea [(ngModel)]="nurseryObject.nurseryAddress" 
                                id="textarea-input" name="textarea-input" rows="3" 
                                class="form-control" placeholder="Address..">
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    (click)="closeNurseryModal()">Close</button>
                <button type="button" class="btn btn-primary" 
                    (click)="save()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--End of the Create/Update nursery-->

<!-- Move the nursery, Based on the sector Id -->
<div bsModal #moveNursery="bs-modal" class="modal fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{title}}</h6>
                <!-- <span class="text-danger"><b>{{errorMessage}}</b></span> -->
                <button type="button" class="close" 
                    (click)="closeMovementModel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font13">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <input [(ngModel)]="nurseryObject.id" type="hidden" id="id" name="id" class="form-control">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <span class="text-danger" *ngIf="errorMessage"
                                (close)="errorMessage = null">{{ errorMessage }}</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Head Office *</label>
                        <div class="col-md-9">
                            <select [(ngModel)]="nurseryObject.operationalHeadId" id="operationalHeadId" 
                                name="operationalHeadId" class="form-control" 
                                (change)="getZoneList(nurseryObject.operationalHeadId)">
                                <option value="0" disabled selected>Select Head Office</option>
                                <option *ngFor="let operationalHead of operationalHeads" 
                                    value={{operationalHead.id}}>{{operationalHead.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Zonal *</label>
                        <div class="col-md-9">
                            <select [(ngModel)]="nurseryObject.zonalId" id="zonalId" 
                                name="zonalId" class="form-control" 
                                (change)="getSector(nurseryObject.zonalId)">
                                <option value="0" disabled selected>Select Zonal</option>
                                <option *ngFor="let zonal of zonals" 
                                    value={{zonal.id}}>{{zonal.zoneName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Sector *</label>
                        <div class="col-md-9">
                            <select [(ngModel)]="nurseryObject.sectorId" id="sectorId" 
                                name="sectorId" class="form-control">
                                <option value="0" disabled selected>Select Zonal</option>
                                <option *ngFor="let sector of sectors" 
                                    value={{sector.id}}>{{sector.sectorName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
                        <div class="col-md-9">
                            <textarea [(ngModel)]="mapNurseryWithSector.description" 
                                id="description" name="description" 
                            rows="3" class="form-control" placeholder="Description.."></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    (click)="closeMovementModel()">Close</button>
                <button type="button" class="btn btn-primary" 
                    (click)="save()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--End of the nursery movement-->