<div class="animated fadeIn">
    <div id="collapseBasic" [collapse]="isCollapsed" class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Audit Details
                    <button type="button" class="btn btn-sm btn-danger float-right" 
                        (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" 
                        aria-controls="collapseBasic">
                            <fa-icon [icon]="'times'"></fa-icon> close
                    </button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table font12">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Version</th>
                                <th>Modified By</th>
                                <th>Created Date</th>
                                <th>Modified Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let audit of audits; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{audit.entityValue.name}}</td>
                                <td>{{audit.entityValue.description}}</td>
                                <td>{{audit.commitVersion}}</td>
                                <td>{{audit.modifiedBy}}</td>
                                <td>{{audit.entityValue.createdDate | date:'medium'}}</td>
                                <td>{{audit.entityValue.lastModifiedDate | date:'medium'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Display the success Message alert-->
	<div class="col-md-8">
             <ngb-alert *ngIf="successMessage" type="success" 
             (close)="successMessage = null">{{ successMessage }}</ngb-alert>
        </div>
    <!-- End of the success alert-->

    <!-- Display the Operational Head List-->
    <div class="row"> <!-- justify-content-center -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i> Operational Head List
                  <button type="button" class="btn btn-sm btn-success float-right" 
                  data-toggle="modal" (click)="create()"><fa-icon [icon]="'plus'"></fa-icon> Add</button>
                </div>
                <div class="card-body table-responsive">
                    <table class="table font12">
                        <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                <th>S No.</th>
                                <th jhiSortBy="name">Name <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="description">Description <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="createdDate">Created At <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="lastModifiedDate">Updated At <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let value of list; let i = index; trackBy: trackId">
                                <td>{{i+1}}</td>
                                <td>{{value.name}}</td>
                                <td>{{value.description}}</td>
                                <td>{{value.createdDate | date:'medium'}}</td>
                                <td>{{value.lastModifiedDate | date:'medium'}}</td>
                                <td>
                                    <!-- <a class="text-success" data-toggle="modal" ngbTooltip="Audit Details " placement="left" 
                                        (click)="getAuditHistory(value.id)" [attr.aria-expanded]="isCollapsed" aria-controls="collapseBasic">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                    </a> -->
                                    <a class="text-primary ml-2" data-toggle="modal" ngbTooltip="Edit " placement="left" 
                                        (click)="getValue(value)"><fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    </a>
                                    <a class="text-danger ml-2" ngbTooltip="Delete" placement="top" 
                                        (click)="softDelete(value)"><fa-icon [icon]="'times'"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="list && list.length" class="card-footer">
                    <!-- <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div> -->
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #operationalHeadModal="bs-modal" class="modal fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{title}}</h6>
                <button type="button" class="close" 
                    (click)="operationalHeadModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font13">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <input [(ngModel)]="operationalHead.id" type="hidden"
                    id="id" name="id" class="form-control">
                    <!--To display the error mesage-->
                    <div class="form-group row">
                        <div class="col-md-6">
                            <span class="text-danger" *ngIf="errorMessage"
                                (close)="errorMessage = null">{{ errorMessage }}</span>
                        </div>
                    </div>
                    <!--End of the error message -->
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" for="text-input">Name *</label>
                        <div class="col-md-8">
                            <input [(ngModel)]="operationalHead.name" 
                            type="text" id="Name" name="Name" 
                            class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label" 
                            for="textarea-input">Description</label>
                        <div class="col-md-8">
                            <textarea [(ngModel)]="operationalHead.description" id="description" name="description" 
                            rows="3" class="form-control" placeholder="Address.."></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    (click)="operationalHeadModal.hide()">Close</button>
                <button type="button" class="btn btn-primary" 
                    (click)="save()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->