<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectghApp.godownStockDetails.home.title">Godown Stock Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-godown-stock-details" [routerLink]="['/godown-stock-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projectghApp.godownStockDetails.home.createLabel">
            Create new Godown Stock Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="godownStockDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="projectghApp.godownStockDetails.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="projectghApp.godownStockDetails.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="projectghApp.godownStockDetails.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="projectghApp.godownStockDetails.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="projectghApp.godownStockDetails.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="godownStockId"><span jhiTranslate="projectghApp.godownStockDetails.godownStock">Godown Stock</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="financialYearGodownStockDetailsBatchName"><span jhiTranslate="projectghApp.godownStockDetails.financialYearGodownStockDetails">Financial Year Godown Stock Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let godownStockDetails of godownStockDetails ;trackBy: trackId">
                <td><a [routerLink]="['/godown-stock-details', godownStockDetails.id, 'view' ]">{{godownStockDetails.id}}</a></td>
                <td>{{godownStockDetails.date | date:'mediumDate'}}</td>
                <td>{{godownStockDetails.quantity}}</td>
                <td>{{godownStockDetails.description}}</td>
                <td>{{godownStockDetails.status}}</td>
                <td>{{godownStockDetails.price}}</td>
                <td>
                    <div *ngIf="godownStockDetails.godownStockId">
                        <a [routerLink]="['../godown-stock', godownStockDetails.godownStockId , 'view' ]" >{{godownStockDetails.godownStockId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="godownStockDetails.financialYearGodownStockDetailsId">
                        <a [routerLink]="['../financial-year-settings', godownStockDetails.financialYearGodownStockDetailsId , 'view' ]" >{{godownStockDetails.financialYearGodownStockDetailsBatchName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/godown-stock-details', godownStockDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/godown-stock-details', godownStockDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'godown-stock-details/'+ godownStockDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="godownStockDetails && godownStockDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
