<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-godown-purchase-details-heading" jhiTranslate="projectghApp.godownPurchaseDetails.home.createOrEditLabel">Create or edit a Godown Purchase Details</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!godownPurchaseDetails.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="godownPurchaseDetails.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                        [(ngModel)]="godownPurchaseDetails.quantity" required/>
                    <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="godownPurchaseDetails.date"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="godownPurchaseDetails.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.ownedBy" for="field_ownedBy">Owned By</label>
                    <input type="text" class="form-control" name="ownedBy" id="field_ownedBy"
                        [(ngModel)]="godownPurchaseDetails.ownedBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.vendorName" for="field_vendorName">Vendor Name</label>
                    <input type="text" class="form-control" name="vendorName" id="field_vendorName"
                        [(ngModel)]="godownPurchaseDetails.vendorName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.vendorAddress" for="field_vendorAddress">Vendor Address</label>
                    <input type="text" class="form-control" name="vendorAddress" id="field_vendorAddress"
                        [(ngModel)]="godownPurchaseDetails.vendorAddress" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.vendorPhone" for="field_vendorPhone">Vendor Phone</label>
                    <input type="number" class="form-control" name="vendorPhone" id="field_vendorPhone"
                        [(ngModel)]="godownPurchaseDetails.vendorPhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="godownPurchaseDetails.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                        [(ngModel)]="godownPurchaseDetails.status" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.pickListVariety" for="field_pickListVariety">Pick List Variety</label>
                    <select class="form-control" id="field_pickListVariety" name="pickListVariety" [(ngModel)]="godownPurchaseDetails.pickListVarietyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pickListValueOption.id" *ngFor="let pickListValueOption of picklistvalues; trackBy: trackPickListValueById">{{pickListValueOption.pickListValue}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.pickListCategory" for="field_pickListCategory">Pick List Category</label>
                    <select class="form-control" id="field_pickListCategory" name="pickListCategory" [(ngModel)]="godownPurchaseDetails.pickListCategoryId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pickListValueOption.id" *ngFor="let pickListValueOption of picklistvalues; trackBy: trackPickListValueById">{{pickListValueOption.pickListValue}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.pickListQuantityType" for="field_pickListQuantityType">Pick List Quantity Type</label>
                    <select class="form-control" id="field_pickListQuantityType" name="pickListQuantityType" [(ngModel)]="godownPurchaseDetails.pickListQuantityTypeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pickListValueOption.id" *ngFor="let pickListValueOption of picklistvalues; trackBy: trackPickListValueById">{{pickListValueOption.pickListValue}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.godown" for="field_godown">Godown</label>
                    <select class="form-control" id="field_godown" name="godown" [(ngModel)]="godownPurchaseDetails.godownId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="godownOption.id" *ngFor="let godownOption of godowns; trackBy: trackGodownById">{{godownOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projectghApp.godownPurchaseDetails.financialYearGodownPurchase" for="field_financialYearGodownPurchase">Financial Year Godown Purchase</label>
                    <select class="form-control" id="field_financialYearGodownPurchase" name="financialYearGodownPurchase" [(ngModel)]="godownPurchaseDetails.financialYearGodownPurchaseId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="financialYearSettingsOption.id" *ngFor="let financialYearSettingsOption of financialyearsettings; trackBy: trackFinancialYearSettingsById">{{financialYearSettingsOption.batchName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
