<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectghApp.godownPurchaseDetails.home.title">Godown Purchase Details</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-godown-purchase-details" [routerLink]="['/godown-purchase-details/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projectghApp.godownPurchaseDetails.home.createLabel">
            Create new Godown Purchase Details
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="godownPurchaseDetails">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantity"><span jhiTranslate="projectghApp.godownPurchaseDetails.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="projectghApp.godownPurchaseDetails.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="price"><span jhiTranslate="projectghApp.godownPurchaseDetails.price">Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ownedBy"><span jhiTranslate="projectghApp.godownPurchaseDetails.ownedBy">Owned By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendorName"><span jhiTranslate="projectghApp.godownPurchaseDetails.vendorName">Vendor Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendorAddress"><span jhiTranslate="projectghApp.godownPurchaseDetails.vendorAddress">Vendor Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendorPhone"><span jhiTranslate="projectghApp.godownPurchaseDetails.vendorPhone">Vendor Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="projectghApp.godownPurchaseDetails.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="projectghApp.godownPurchaseDetails.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pickListVarietyPickListValue"><span jhiTranslate="projectghApp.godownPurchaseDetails.pickListVariety">Pick List Variety</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pickListCategoryPickListValue"><span jhiTranslate="projectghApp.godownPurchaseDetails.pickListCategory">Pick List Category</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pickListQuantityTypePickListValue"><span jhiTranslate="projectghApp.godownPurchaseDetails.pickListQuantityType">Pick List Quantity Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="godownName"><span jhiTranslate="projectghApp.godownPurchaseDetails.godown">Godown</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="financialYearGodownPurchaseBatchName"><span jhiTranslate="projectghApp.godownPurchaseDetails.financialYearGodownPurchase">Financial Year Godown Purchase</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let godownPurchaseDetails of godownPurchaseDetails ;trackBy: trackId">
                <td><a [routerLink]="['/godown-purchase-details', godownPurchaseDetails.id, 'view' ]">{{godownPurchaseDetails.id}}</a></td>
                <td>{{godownPurchaseDetails.quantity}}</td>
                <td>{{godownPurchaseDetails.date | date:'mediumDate'}}</td>
                <td>{{godownPurchaseDetails.price}}</td>
                <td>{{godownPurchaseDetails.ownedBy}}</td>
                <td>{{godownPurchaseDetails.vendorName}}</td>
                <td>{{godownPurchaseDetails.vendorAddress}}</td>
                <td>{{godownPurchaseDetails.vendorPhone}}</td>
                <td>{{godownPurchaseDetails.description}}</td>
                <td>{{godownPurchaseDetails.status}}</td>
                <td>
                    <div *ngIf="godownPurchaseDetails.pickListVarietyId">
                        <a [routerLink]="['../pick-list-value', godownPurchaseDetails.pickListVarietyId , 'view' ]" >{{godownPurchaseDetails.pickListVarietyPickListValue}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="godownPurchaseDetails.pickListCategoryId">
                        <a [routerLink]="['../pick-list-value', godownPurchaseDetails.pickListCategoryId , 'view' ]" >{{godownPurchaseDetails.pickListCategoryPickListValue}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="godownPurchaseDetails.pickListQuantityTypeId">
                        <a [routerLink]="['../pick-list-value', godownPurchaseDetails.pickListQuantityTypeId , 'view' ]" >{{godownPurchaseDetails.pickListQuantityTypePickListValue}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="godownPurchaseDetails.godownId">
                        <a [routerLink]="['../godown', godownPurchaseDetails.godownId , 'view' ]" >{{godownPurchaseDetails.godownName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="godownPurchaseDetails.financialYearGodownPurchaseId">
                        <a [routerLink]="['../financial-year-settings', godownPurchaseDetails.financialYearGodownPurchaseId , 'view' ]" >{{godownPurchaseDetails.financialYearGodownPurchaseBatchName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/godown-purchase-details', godownPurchaseDetails.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/godown-purchase-details', godownPurchaseDetails.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'godown-purchase-details/'+ godownPurchaseDetails.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="godownPurchaseDetails && godownPurchaseDetails.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
