<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sectorIncharge">
            <h2><span jhiTranslate="projectghApp.sectorIncharge.detail.title">Sector Incharge</span> {{sectorIncharge.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectghApp.sectorIncharge.fromDate">From Date</span></dt>
                <dd>
                    <span>{{sectorIncharge.fromDate}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.sectorIncharge.toDate">To Date</span></dt>
                <dd>
                    <span>{{sectorIncharge.toDate}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.sectorIncharge.description">Description</span></dt>
                <dd>
                    <span>{{sectorIncharge.description}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.sectorIncharge.status">Status</span></dt>
                <dd>
                    <span>{{sectorIncharge.status}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.sectorIncharge.sector">Sector</span></dt>
                <dd>
                    <div *ngIf="sectorIncharge.sectorId">
                        <a [routerLink]="['/sector', sectorIncharge.sectorId, 'view']">{{sectorIncharge.sectorSectorName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sector-incharge', sectorIncharge.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
