<div class="app-body">
  <div class="container">
    <div class="row" style="margin-top: 5%">
      <div class="col-md-8 mx-auto">
        <div class="card-group">
          <div class="card p-4">
              <img src="../../../content/img/brand/isha_pgh.jpg" class="img-fluid"
                alt="Responsive image">
          </div>
          <div class="card text-white bg-success py-4 d-md-down-none log_image">
            <div class="card-body text-center font-family-times-new-roman">
              <div class="log_title">
                <h2> Project GreenHands </h2>
                <h5>"Every society needs individual who will go on planting mango trees without thinking whether they will get to eat the fruits or not."</h5>
                <h4> - Sadhguru</h4>
              </div>
              <br>
                  <button type="button" 
                    class="btn btn-default px-4" (click)="login()"><b>Login</b></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  