<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectghApp.mapSectorWithZonal.home.title">Map Sector With Zonals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-map-sector-with-zonal" [routerLink]="['/map-sector-with-zonal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projectghApp.mapSectorWithZonal.home.createLabel">
            Create new Map Sector With Zonal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mapSectorWithZonals">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromDate"><span jhiTranslate="projectghApp.mapSectorWithZonal.fromDate">From Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toDate"><span jhiTranslate="projectghApp.mapSectorWithZonal.toDate">To Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="projectghApp.mapSectorWithZonal.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="projectghApp.mapSectorWithZonal.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zonalZoneName"><span jhiTranslate="projectghApp.mapSectorWithZonal.zonal">Zonal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sectorSectorName"><span jhiTranslate="projectghApp.mapSectorWithZonal.sector">Sector</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mapSectorWithZonal of mapSectorWithZonals ;trackBy: trackId">
                <td><a [routerLink]="['/map-sector-with-zonal', mapSectorWithZonal.id, 'view' ]">{{mapSectorWithZonal.id}}</a></td>
                <td>{{mapSectorWithZonal.fromDate | date:'mediumDate'}}</td>
                <td>{{mapSectorWithZonal.toDate | date:'mediumDate'}}</td>
                <td>{{mapSectorWithZonal.description}}</td>
                <td>{{mapSectorWithZonal.status}}</td>
                <td>
                    <div *ngIf="mapSectorWithZonal.zonalId">
                        <a [routerLink]="['../zonal', mapSectorWithZonal.zonalId , 'view' ]" >{{mapSectorWithZonal.zonalZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mapSectorWithZonal.sectorId">
                        <a [routerLink]="['../sector', mapSectorWithZonal.sectorId , 'view' ]" >{{mapSectorWithZonal.sectorSectorName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/map-sector-with-zonal', mapSectorWithZonal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/map-sector-with-zonal', mapSectorWithZonal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'map-sector-with-zonal/'+ mapSectorWithZonal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mapSectorWithZonals && mapSectorWithZonals.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
