<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectghApp.sector.home.title">Sectors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sector" [routerLink]="['/sector/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projectghApp.sector.home.createLabel">
            Create new Sector
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sectors">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sectorName"><span jhiTranslate="projectghApp.sector.sectorName">Sector Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sectorAddress"><span jhiTranslate="projectghApp.sector.sectorAddress">Sector Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="projectghApp.sector.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zonalZoneName"><span jhiTranslate="projectghApp.sector.zonal">Zonal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="financialYearSectorBatchName"><span jhiTranslate="projectghApp.sector.financialYearSector">Financial Year Sector</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sector of sectors ;trackBy: trackId">
                <td><a [routerLink]="['/sector', sector.id, 'view' ]">{{sector.id}}</a></td>
                <td>{{sector.sectorName}}</td>
                <td>{{sector.sectorAddress}}</td>
                <td>{{sector.status}}</td>
                <td>
                    <div *ngIf="sector.zonalId">
                        <a [routerLink]="['../zonal', sector.zonalId , 'view' ]" >{{sector.zonalZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sector.financialYearSectorId">
                        <a [routerLink]="['../financial-year-settings', sector.financialYearSectorId , 'view' ]" >{{sector.financialYearSectorBatchName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sector', sector.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sector', sector.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sector/'+ sector.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sectors && sectors.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
