<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectghApp.mapZonalWithOh.home.title">Map Zonal With Ohs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-map-zonal-with-oh" [routerLink]="['/map-zonal-with-oh/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projectghApp.mapZonalWithOh.home.createLabel">
            Create new Map Zonal With Oh
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="mapZonalWithOhs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromDate"><span jhiTranslate="projectghApp.mapZonalWithOh.fromDate">From Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toDate"><span jhiTranslate="projectghApp.mapZonalWithOh.toDate">To Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="projectghApp.mapZonalWithOh.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="projectghApp.mapZonalWithOh.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zonalZoneName"><span jhiTranslate="projectghApp.mapZonalWithOh.zonal">Zonal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operationalHeadName"><span jhiTranslate="projectghApp.mapZonalWithOh.operationalHead">Operational Head</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mapZonalWithOh of mapZonalWithOhs ;trackBy: trackId">
                <td><a [routerLink]="['/map-zonal-with-oh', mapZonalWithOh.id, 'view' ]">{{mapZonalWithOh.id}}</a></td>
                <td>{{mapZonalWithOh.fromDate | date:'mediumDate'}}</td>
                <td>{{mapZonalWithOh.toDate | date:'mediumDate'}}</td>
                <td>{{mapZonalWithOh.description}}</td>
                <td>{{mapZonalWithOh.status}}</td>
                <td>
                    <div *ngIf="mapZonalWithOh.zonalId">
                        <a [routerLink]="['../zonal', mapZonalWithOh.zonalId , 'view' ]" >{{mapZonalWithOh.zonalZoneName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="mapZonalWithOh.operationalHeadId">
                        <a [routerLink]="['../operational-head', mapZonalWithOh.operationalHeadId , 'view' ]" >{{mapZonalWithOh.operationalHeadName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/map-zonal-with-oh', mapZonalWithOh.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/map-zonal-with-oh', mapZonalWithOh.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'map-zonal-with-oh/'+ mapZonalWithOh.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mapZonalWithOhs && mapZonalWithOhs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
