<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pickList">
            <h2><span jhiTranslate="projectghApp.pickList.detail.title">Pick List</span> {{pickList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectghApp.pickList.pickListName">Pick List Name</span></dt>
                <dd>
                    <span>{{pickList.pickListName}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.pickList.status">Status</span></dt>
                <dd>
                    <span>{{pickList.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pick-list', pickList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
