<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-sm btn-success float-right mb-2" 
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" 
            aria-controls="collapseBasic">
                <fa-icon [icon]="'plus'"></fa-icon> Create Batch
            </button>
        </div>
    </div>
    <div id="collapseBasic" [collapse]="isCollapsed" class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Showing </strong> Form
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="name">Zonal *</label>
                                <select [(ngModel)]="batch.zoneId" id="zoneId" name="zoneId" class="form-control"
                                (change)="getSector(batch.zoneId)" required>
                                    <option value="0" disabled selected>Select Zonal Name</option>
                                    <option *ngFor="let zone of zonals" value={{zone.id}}>{{zone.zoneName}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Sector *</label>
                                <select [(ngModel)]="batch.sectorId" id="sectorId" name="sectorId" class="form-control" 
                                (change)="getNursery(batch.sectorId)">
                                    <option value="0" disabled selected>Select Sector Name</option>
                                    <option *ngFor="let sector of sectors" value={{sector.id}}>{{sector.sectorName}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Nursery *</label>
                                <select [(ngModel)]="batch.nurseryId" id="nurseryId" name="nurseryId" class="form-control" 
                                (change)="getMotherBed(batch.nurseryId)" required>
                                    <option value="0" disabled selected>Select Nursery Name</option>
                                    <option *ngFor="let nursery of nurserys" value={{nursery.id}}>{{nursery.nurseryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="name">Pick Name *</label>
                                <select [(ngModel)]="batch.pickListId" id="pickListId" name="pickListId" class="form-control"
                                (change)="getVariety(batch.pickListId)" required>
                                    <option value="0" disabled selected>Select</option>
                                    <option *ngFor="let pickList of pickLists" value={{pickList.id}}>{{pickList.pickListName}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Variety * </label>
                                <select [(ngModel)]="batch.pickListVarietyId" id="pickListVarietyId" name="pickListVarietyId" class="form-control"
                                (change)="getCategory(batch.pickListVarietyId)" required>
                                    <option value="0" disabled selected>Select Variety Name</option>
                                    <option *ngFor="let val of varietys" value={{val.id}}>{{val.pickListValue}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Category *</label>
                                <select [(ngModel)]="batch.pickListCategoryId" id="pickListCategoryId" name="pickListCategoryId" class="form-control" required>
                                    <option value="0" disabled selected>Select Category Name</option>
                                    <option *ngFor="let category of categorys" value={{category.id}}>{{category.pickListValue}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="name">Batch No. *</label>
                                <input [(ngModel)]="batch.batchNo" type="text" id="batchNo" name="batchNo" 
                                class="form-control" placeholder="Batch No." required>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Batch Name *</label>
                                <input [(ngModel)]="batch.batchName" type="text" id="batchName" 
                                name="batchName" class="form-control" placeholder="Batch Name" required>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Date *</label>
                                <div class="input-group">
                                    <input id="field_sowingDate" type="text" class="form-control" name="sowingDate" 
                                    [(ngModel)]="batch.sowingDate" ngbDatepicker  #sowingDateDp="ngbDatepicker" required readonly/>
                                    <span class="input-group-append">
                                        <button class="btn btn-secondary" (click)="sowingDateDp.toggle()">
                                        <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="name">Pick Quantity Name *</label>
                                <select [(ngModel)]="batch.pickListQuantityId" id="pickListQuantityId" name="pickListQuantityId" 
                                class="form-control" (change)="getQuantityType(batch.pickListQuantityId)" required>
                                    <option value="0" disabled selected>Select</option>
                                    <option *ngFor="let pickList of pickLists" value={{pickList.id}}>{{pickList.pickListName}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Quantity Type * </label>
                                <select [(ngModel)]="batch.quantityTypeId" id="quantityTypeId" name="quantityTypeId" class="form-control" required>
                                    <option value="0" disabled selected>Select Quantity Type</option>
                                    <option *ngFor="let type of quantityTypes" value={{type.id}}>{{type.pickListValue}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Quantity *</label>
                                <input [(ngModel)]="batch.quantity" type="text" id="quantity" name="quantity" 
                                class="form-control" placeholder="Quantity" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="name">Motherbed</label>
                                <select [(ngModel)]="batch.motherBedId" id="motherBedId" name="motherBedId" class="form-control">
                                    <option value="0" disabled selected>Select Quantity Type</option>
                                    <option *ngFor="let motherBed of motherBeds" value={{motherBed.id}}>{{motherBed.value}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="name">Showing Type *</label>
                                <select [(ngModel)]="batch.showingType" id="select1" name="select1" class="form-control" required>
                                    <option value="0" disabled selected>Showing Type</option>
                                    <option value="1">Seed</option>
                                    <option value="2">Direct</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-dot-circle-o"></i> Create Batch</button>
                    <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
    <div class="row font12">
      <div class="col-lg-12">
        <tabset>
          <tab>
            <ng-template tabHeading><i class="fa fa-align-justify"></i> Batch Management List</ng-template>
            <!--<div class="row">
                <div class="form-group col-sm-3">
                    <label for="name">Month</label>
                    <select [(ngModel)]="filter.month" id="month" name="month" class="form-control"
                    required> <!-- (change)="getList(month)"
                        <option value="0" disabled selected>Select..</option>
                        <option *ngFor="let month of months" value={{month.value}}>{{month.name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                        <label for="name">Date From</label>
                        <input id="field_fromDate" type="text" class="form-control" name="fromDate" 
                        ngbDatepicker  #fromDate="ngbDatepicker" [(ngModel)]="filter.fromDate"
                        (click)="fromDate.toggle()" placeholder="Date From"/>
                </div>
                <div class="form-group col-sm-3">
                    <label for="name">Date To</label>
                        <input id="field_date" type="text" class="form-control" name="toDate" 
                        ngbDatepicker  #toDate="ngbDatepicker" [(ngModel)]="filter.toDate"
                        (click)="toDate.toggle()" placeholder="Date To"/>
                </div>
                <div class="form-group col-sm-3">
                    <button type="button" class="btn btn-sm btn-info" (click)="getReport()">
                        <i class="fa fa-dot-circle-o"></i> Filter
                    </button>
                </div>
            </div> -->
            <div class="text-right">
                <span class="btn-ghost-success"><fa-icon [icon]="'cart-plus'"></fa-icon> - Shade</span>,
                <span class="btn-ghost-primary"><fa-icon [icon]="'cart-arrow-down'"></fa-icon> - Damage</span>,
                <span class="btn-ghost-dark"><fa-icon [icon]="'times'"></fa-icon> - Close</span>,
                <span class="btn-ghost-danger"><fa-icon [icon]="'trash-alt'"></fa-icon> - Delete</span>
            </div>
            <table class="table-responsive table table-bordered">
              <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                  <th jhiSortBy="batchNo">Batch No. <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="batchName">Batch Name <fa-icon [icon]="'sort'"></fa-icon></th>                  
                  <th jhiSortBy="nurseryNurseryName">Nursery Name <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="pickListVarietyPickListValue">Variety <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="pickListCategoryPickListValue">Category <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="sowingDate">Date <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="quantityTypePickListValue">Quantity Type <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="quantity">Quantity <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="motherBedValue">Motherbed <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="showingType">Showing Type <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="round">Rounds <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th jhiSortBy="closedDate">Closed Date <fa-icon [icon]="'sort'"></fa-icon></th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of batchs; trackBy: trackId" [ngClass]="{'table-danger': list.status == -1}">
                  <td>{{list.batchNo}}</td>
                  <td>{{list.batchName}}</td>
                  <td>{{list.nurseryNurseryName}}</td>
                  <td>{{list.pickListVarietyPickListValue}}</td>
                  <td>{{list.pickListCategoryPickListValue}}</td>
                  <td>{{list.sowingDate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{list.quantityTypePickListValue}}</td>
                  <td>
                    {{list.quantity}}<br>
                    <!-- <button type="button" class="btn-ghost-success" 
                    popover="Shade : 10, Damage : 2" popoverTitle="Quantity Details" triggers="focus">
                        <fa-icon [icon]="'cart-plus'"></fa-icon>
                    </button> -->
                    <ng-template #popTemplate>Shade Area : {{shadeCount}}<br>Damage : {{damageCount}}</ng-template>
                    <a (click)="getParticularBatchShadeDamageCount(list.id)" [popover]="popTemplate" popoverTitle="Quantity Details"><fa-icon [icon]="'eye'"></fa-icon></a>
                  </td>
                  <td>{{list.motherBedValue}}</td>
                  <td *ngIf="list.showingType == 1">Seed</td>
                  <td *ngIf="list.showingType == 2">Direct</td>
                  <td *ngIf="((list.showingType != 1) && (list.showingType != 2))"></td>
                  <td>{{list.round}}</td>
                  <td>{{list.closedDate | date: 'dd/MM/yyyy'}}</td>
                  <td>
                      <span *ngIf="list.status != -1">
                          <a class="text-success" data-toggle="modal" title="Move to Shade Area"
                          (click)="updateShift(list)"><fa-icon [icon]="'cart-plus'"></fa-icon></a>
                          <a class="text-primary ml-2" data-toggle="modal" title="Move to damage"
                          (click)="updateDamage(list)"><fa-icon [icon]="'cart-arrow-down'"></fa-icon></a>
                          <a class="text-dark ml-2" data-toggle="modal" title="Close the batch"
                          (click)="updateBatch(list)"><fa-icon [icon]="'times'"></fa-icon></a>
                      </span>
                      <a class="text-danger ml-2" data-toggle="modal" title="Delete a batch"
                      (click)="softDeleteBatch(list)"><fa-icon [icon]="'trash-alt'"></fa-icon></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
            <div *ngIf="batchs && batchs.length" class="card-footer">
                <!-- <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div> -->
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="icon-basket-loaded" (click)="getShadeAreaList()"> Shade Area List</i></ng-template>
            <table class="table-responsive table table-bordered table-striped font12">
              <thead>
                <tr>
                  <th>Batch Name</th>                  
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Damage Quantity</th>
                  <th>Moved to Seasoning</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let temp of shadeAreas">
                  <td>{{temp.batchBatchName}}</td>
                  <td>{{temp.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{temp.noOfSeedlings}}</td>
                  <td>{{temp.damage}}</td>
                  <td>{{temp.saplings}}</td>
                  <td>
                    <span *ngIf="temp.noOfSeedlings > (temp.damage + temp.saplings)">
                        <a class="text-success" data-toggle="modal" title="Move to Seasoning Area" 
                        (click)="updateStock(temp)"><fa-icon [icon]="'cart-plus'"></fa-icon></a>
                        <a class="text-danger ml-2" data-toggle="modal" title="Move to damage" 
                        (click)="updateSeedlingDamage(temp)"><fa-icon [icon]="'cart-arrow-down'"></fa-icon></a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
          </tab>
          <tab>
            <ng-template tabHeading><i class="fa fa-arrow-down" (click)="getDamageList()"> Damage List</i></ng-template>
            <table class="table-responsive table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th>Batch Name</th>                  
                  <th>Date</th>
                  <th>Quantity</th>
                  <th>Reason</th>
                  <th>Status</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let damageVal of damages">
                  <td>{{damageVal.batchBatchName}}</td>
                  <td>{{damageVal.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{damageVal.noOfQuantity}}</td>
                  <td>{{damageVal.descriptionPickListValue}}</td>
                  <td>
                      <span *ngIf="damageVal.status == 1">Seeds</span>
                      <span *ngIf="damageVal.status == 2">Seedlings</span>
                  </td>
                  <!-- <td></td> -->
                </tr>
              </tbody>
            </table>
            <!-- <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul> -->
          </tab>
        </tabset>
      </div>
    </div>
  </div>
  
  <div bsModal #closeBatchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Close {{updateBatchValue.batchName}}</h6>
          <button type="button" class="close" (click)="closeBatchModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <input [(ngModel)]="updateBatchValue.id" type="hidden" id="id" name="id" class="form-control">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Closed Date</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input id="field_closedDate" type="text" class="form-control" name="closedDate" 
                            [(ngModel)]="updateBatchValue.closedDate" ngbDatepicker  #closedDateDp="ngbDatepicker" readonly/>
                            <span class="input-group-append">
                                <button class="btn btn-secondary" (click)="closedDateDp.toggle()">
                                    <fa-icon [icon]="'calendar-alt'"></fa-icon>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="textarea-input">Reason</label>
                    <div class="col-md-9">
                      <textarea [(ngModel)]="updateBatchValue.remarks" id="textarea-input" 
                        id="remarks" name="remarks" rows="3" class="form-control" 
                        placeholder="Reason.."></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeBatchModal.hide()">Close</button>
          <button type="button" class="btn btn-primary" (click)="closeBatch(updateBatchValue)">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div bsModal #damageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Update {{updateBatchValue.batchName}}</h6>
          <button type="button" class="close" (click)="damageModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <input [(ngModel)]="updateBatchValue.id" type="hidden" id="id" name="id" class="form-control">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name">Pick Name </label>
                <div class="col-md-9">
                  <select [(ngModel)]="updateBatchValue.pickListDamageAreaId" id="pickListDamageAreaId" name="pickListDamageAreaId" 
                  class="form-control" (change)="getQuantityType(updateBatchValue.pickListDamageAreaId)">
                    <option value="0" disabled selected>Select</option>
                    <option *ngFor="let damageValue of pickLists" value={{damageValue.id}}>{{damageValue.pickListName}}</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="name">Damage Area</label>
                <div class="col-md-9">
                  <select [(ngModel)]="updateBatchValue.damageAreaId" id="damageAreaId" name="damageAreaId" class="form-control">
                    <option value="0" disabled selected>Description</option>
                    <option *ngFor="let damageArea of quantityTypes" value={{damageArea.id}}>{{damageArea.pickListValue}}</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Damage Date</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" 
                        [(ngModel)]="updateBatchValue.date" ngbDatepicker  #dateDamageDp="ngbDatepicker" readonly/>
                        <span class="input-group-append">
                            <button class="btn btn-secondary" (click)="dateDamageDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Quantity</label>
                <div class="col-md-9">
                  <input [(ngModel)]="updateBatchValue.noOfQuantity" type="text" 
                  id="noOfQuantity" name="noOfQuantity" class="form-control" placeholder="Quantity">
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Reason</label>
                <div class="col-md-9">
                  <input [(ngModel)]="updateBatchValue.description" type="text" 
                  id="description" name="description" class="form-control" 
                  placeholder="Reason">
                </div>
              </div> -->
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Pick Description </label>
                  <div class="col-md-9">
                    <select [(ngModel)]="updateBatchValue.pickListDescriptionId" id="pickListDescriptionId" name="pickListDescriptionId" 
                    class="form-control" (change)="getVariety(updateBatchValue.pickListDescriptionId)">
                      <option value="0" disabled selected>Select</option>
                      <option *ngFor="let pickList of pickLists" value={{pickList.id}}>{{pickList.pickListName}}</option>
                    </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="name">Description</label>
                  <div class="col-md-9">
                    <select [(ngModel)]="updateBatchValue.descriptionId" id="descriptionId" name="descriptionId" class="form-control">
                      <option value="0" disabled selected>Description</option>
                      <option *ngFor="let val of varietys" value={{val.id}}>{{val.pickListValue}}</option>
                    </select>
                  </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="damageModal.hide()">Close</button>
          <button type="button" class="btn btn-primary" (click)="createDamage(updateBatchValue)">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  
  <div bsModal #shiftBatchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Update {{updateBatchValue.batchName}}</h6>
          <button type="button" class="close" (click)="shiftBatchModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
              <input [(ngModel)]="updateBatchValue.id" type="hidden" id="id" name="id" class="form-control">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Date</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" 
                        [(ngModel)]="updateBatchValue.date" ngbDatepicker  #dateShadeAreaDp="ngbDatepicker" readonly/>
                        <span class="input-group-append">
                            <button class="btn btn-secondary" (click)="dateShadeAreaDp.toggle()">
                                <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Quantity</label>
                <div class="col-md-9">
                  <input [(ngModel)]="updateBatchValue.noOfSeedlings" type="text" 
                  id="noOfSeedlings" name="noOfSeedlings" class="form-control" placeholder="Quantity">
                </div>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="shiftBatchModal.hide()">Close</button>
          <button type="button" class="btn btn-primary" (click)="createShadeArea(updateBatchValue)">Save</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div bsModal #stockModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Create</h6>
        <button type="button" class="close" (click)="stockModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <input [(ngModel)]="nurseryStockDetails.batchId" type="hidden" id="batchId" name="batchId" 
            class="form-control">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Date</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" 
                        [(ngModel)]="nurseryStockDetails.date" ngbDatepicker  #dateSeasoningAreaDp="ngbDatepicker"
                        readonly />
                        <span class="input-group-append">
                            <button class="btn btn-secondary" (click)="dateSeasoningAreaDp.toggle()">
                              <fa-icon [icon]="'calendar-alt'"></fa-icon>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Quantity</label>
              <div class="col-md-9">
                <input [(ngModel)]="nurseryStockDetails.quantity" type="text" 
                id="quantity" name="quantity" class="form-control" placeholder="Quantity">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Description</label>
                <div class="col-md-9">
                  <input [(ngModel)]="nurseryStockDetails.description" type="text" 
                  id="description" name="description" class="form-control" placeholder="description">
                </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="stockModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="createStock()">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #shadeAreaRecordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Shade Area</h6>
                <button type="button" class="close" (click)="shadeAreaRecordModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body table-responsive">
                <table class="table table-bordered table-striped table-sm font12">
                    <thead>
                        <tr>
                            <th>Batch Name</th>                  
                            <th>Date</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let temp of shadeAreas">
                            <td>{{temp.batchBatchName}}</td>
                            <td>{{temp.date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{temp.noOfSeedlings}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #damageRecordModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Damage</h6>
                <button type="button" class="close" (click)="damageRecordModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body table-responsive">
                <table class="table table-bordered table-striped table-sm font12">
                    <thead>
                        <tr>
                            <th>Batch Name</th>                  
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Reason</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let damageVal of damages">
                            <td>{{damageVal.batchBatchName}}</td>
                            <td>{{damageVal.date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{damageVal.noOfQuantity}}</td>
                            <td>{{damageVal.descriptionPickListValue}}</td>
                            <td>
                              <span *ngIf="damageVal.status == 1">Seeds</span>
                              <span *ngIf="damageVal.status == 2">Seedlings</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
