<div class="animated fadeIn">
    <!-- Display the Godown List-->
    <div class="row"> <!-- justify-content-center -->
        <div class="col-sm-12">
            <!-- Display the success Message alert-->
            <div>
                <ngb-alert *ngIf="successMessage" type="success" 
                (close)="successMessage = null">{{ successMessage }}</ngb-alert>
            </div>
            <!-- End of the success alert-->
            <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i> Godown Purchase List
                  <button type="button" class="btn btn-sm btn-brand btn-success float-right" 
                    data-toggle="modal" (click)="createGodownPurchase()">
                    <fa-icon [icon]="'plus'"></fa-icon> Add</button>
                </div>
                <div class="card-body table-responsive font12">
                    <div class="text-right"><b>
                        <span class="text-info"><fa-icon [icon]="'pencil-alt'"></fa-icon> -  Edit</span>,
                        <span class="text-danger"><fa-icon [icon]="'times'"></fa-icon> -  Delete</span>,
                        <span class="text-warning"><fa-icon [icon]="'plus'"></fa-icon> -  Add to stock</span>,
                        <span class="text-success"><fa-icon [icon]="'eye'"></fa-icon> -  View vendor details</span>
                    </b>
                    </div>
                    <table class="table">
                        <thead>
                            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                                <th>S No.</th>
                                <th jhiSortBy="godownName">Godown Name <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="date">Date <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="pickListVarietyPickListValue">Variety <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="pickListCategoryPickListValue">Category <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="quantity">Quantity <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="price">Price <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="ownedBy">Owned By <fa-icon [icon]="'sort'"></fa-icon></th>
                                <!-- <th jhiSortBy="vendorName">Vendor Name <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="vendorAddress">Vendor Address <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="vendorPhone">Phone <fa-icon [icon]="'sort'"></fa-icon></th>
                                <th jhiSortBy="description">Description <fa-icon [icon]="'sort'"></fa-icon></th> -->
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let value of godownPurchases; let i = index; trackBy: trackId">
                                <td>{{i+1}}</td>
                                <td>{{value.godownName}}</td>
                                <td>{{value.date | date: 'dd/MM/yyyy'}}</td>
                                <td>{{value.pickListVarietyPickListValue}}</td>
                                <td>{{value.pickListCategoryPickListValue}}</td>
                                <td>{{value.quantity}}</td>
                                <td>{{value.price}}</td>
                                <td>{{value.ownedBy}}</td>
                                <!-- <td>{{value.vendorName}}</td>
                                <td>{{value.vendorAddress}}</td>
                                <td>{{value.vendorPhone}}</td>
                                <td>{{value.description}}</td> -->
                                <td>
                                    <a class="text-info ml-2" data-toggle="modal"
                                        ngbTooltip="Edit " placement="left"
                                        (click)="getGodownPurchaseValue(value)">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    </a>
                                    <a class="text-danger ml-2" data-toggle="modal"
                                        ngbTooltip="Delete " placement="left" 
                                        (click)="softDelete(value)"><fa-icon [icon]="'times'"></fa-icon>
                                    </a>
                                    <a *ngIf="value.status != 2" class="text-warning ml-2"
                                        data-toggle="modal" ngbTooltip="Add to stock " placement="left" 
                                        (click)="addStock(value)""><fa-icon [icon]="'plus'"></fa-icon>
                                    </a>
                                    <a class="text-success ml-2" data-toggle="modal"
                                        ngbTooltip="View Vendor Details " placement="left" 
                                        (click)="viewVendorDetails(value)">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="godownPurchases && godownPurchases.length" class="card-footer">
                    <!-- <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div> -->
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" 
                            [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" 
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #godownPurchaseModal="bs-modal" class="modal fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h6 class="modal-title">Create / 
                    Update {{godownPurchaseObject.name}}</h6> -->
                <h6 class="modal-title">{{title}}</h6>
                <button type="button" class="close"
                    (click)="closegodownPurchaseModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font13">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <input [(ngModel)]="godownPurchaseObject.id" type="hidden" 
                        id="id" name="id" class="form-control">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="text-input">Godown Name *</label>
                            <select [(ngModel)]="godownPurchaseObject.godownId" 
                                id="godownId" name="godownId" class="form-control" >
                                <option value="0" disabled selected>Select Type</option>
                                <option *ngFor="let type of godown" 
                                    value={{type.id}}>{{type.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="text-input">Date *</label>
                            <input id="field_purchaseDate" type="text" class="form-control" 
                                name="purchaseDate" [(ngModel)]="godownPurchaseObject.date"
                                ngbDatepicker  #purchaseDateDp="ngbDatepicker" readonly
                                (click)="purchaseDateDp.toggle()"/>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="name">Pick Name * </label>
                            <select [(ngModel)]="godownPurchaseObject.pickListId" id="pickListId" 
                                name="pickListId" class="form-control"
                                (change)="getVariety(godownPurchaseObject.pickListId)" required>
                                <option value="0" disabled selected>Select</option>
                                <option *ngFor="let pickList of pickLists" 
                                    value={{pickList.id}}>{{pickList.pickListName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="name">Variety * </label>
                            <select [(ngModel)]="godownPurchaseObject.pickListVarietyId" 
                                id="pickListVarietyId" name="pickListVarietyId" class="form-control"
                                (change)="getCategory(godownPurchaseObject.pickListVarietyId)" required>
                                <option value="0" disabled selected>Select Variety Name</option>
                                <option *ngFor="let val of variety" value={{val.id}}>{{val.pickListValue}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="name">Category *</label>
                            <select [(ngModel)]="godownPurchaseObject.pickListCategoryId" 
                                id="pickListCategoryId" name="pickListCategoryId" 
                                class="form-control" required>
                                <option value="0" disabled selected>Select Category Name</option>
                                <option *ngFor="let category of categorys" 
                                    value={{category.id}}>{{category.pickListValue}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="text-input">Quantity Type *</label>
                            <select [(ngModel)]="godownPurchaseObject.pickListsId" 
                                id="pickListsId" name="pickListsId" class="form-control" 
                                (change)="getVarietys(godownPurchaseObject.pickListsId)">
                                <option value="0" disabled selected>Select Type</option>
                                <option *ngFor="let type of pickLists" 
                                    value={{type.id}}>{{type.pickListName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="name">Select Quantity Type * </label>
                            <select [(ngModel)]="godownPurchaseObject.pickListQuantityTypeId" 
                                id="pickListQuantityTypeId" name="pickListQuantityTypeId" 
                                class="form-control" >
                                <option value="0" disabled selected>Select Quantity Type *</option>
                                <option *ngFor="let type of varietys"
                                    value={{type.id}}>{{type.pickListValue}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="name">Quantity * </label>
                            <input [(ngModel)]="godownPurchaseObject.quantity"
                                type="text" id="quantity" name="quantity" 
                                class="form-control" placeholder="Quantity">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="name">Price *</label>
                            <input [(ngModel)]="godownPurchaseObject.price" 
                                type="text" id="price" name="price" 
                                class="form-control" placeholder="Price">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="text-input">Owned By *</label>
                            <input [(ngModel)]="godownPurchaseObject.ownedBy" 
                                type="text" id="ownedBy" name="ownedBy" 
                                class="form-control" placeholder="Owned By">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="name">Vendor Name * </label>
                            <input [(ngModel)]="godownPurchaseObject.vendorName" 
                                type="text" id="vendorName" name="vendorName" 
                                class="form-control" placeholder="Vendor Name">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="name">Vendor Phone </label>
                            <input [(ngModel)]="godownPurchaseObject.vendorPhone" 
                                type="text" id="vendorPhone" name="vendorPhone" 
                                class="form-control" placeholder="Vendor Phone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-5">
                            <label for="name">Vendor Address </label>
                            <textarea [(ngModel)]="godownPurchaseObject.vendorAddress"
                                type="text" id="vendorAddress" name="vendorAddress" 
                                class="form-control" placeholder="Vendor Address">
                            </textarea>
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="name">Description</label>
                            <textarea [(ngModel)]="godownPurchaseObject.description" 
                                type="text" id="description" name="description" 
                                class="form-control" placeholder="Description">
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    (click)="closegodownPurchaseModal()">Close</button>
                <button type="button" class="btn btn-primary"
                    (click)="save()">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #godownStockModal="bs-modal" class="modal fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Add to Stock </h6>
                <button type="button" class="close" 
                    (click)="godownStockModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                     <div class="form-group row">
                        <label class="col-md-3" for="name">Date *</label>
                        <div class="input-group col-md-9">
                            <input id="field_stockDate" type="text" 
                                class="form-control" name="stockDate" readonly
                                ngbDatepicker  #stockDateDp="ngbDatepicker"
                                [(ngModel)]="godownStockDetailsObject.date"
                            (click)="stockDateDp.toggle()" required/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Description</label>
                        <div class="col-md-9">
                            <input [(ngModel)]="godownStockDetailsObject.description" type="text" id="description" name="description" 
                            class="form-control" placeholder="Description">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" 
                    (click)="godownStockModal.hide()">Close</button>
                <button type="button" class="btn btn-primary"  
                    (click)="saveStock()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- To vendor details and description for the godown stock details -->
<div bsModal #vendorDetailsModal="bs-modal" class="modal fade" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Vendor Details </h6>
                <button type="button" class="close" 
                    (click)="vendorDetailsModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered font12">
                    <tr>
                        <td>Vendor Name</td>
                        <td>{{vendorName}}</td>
                    </tr>
                    <tr>
                        <td>Phone No</td>
                        <td>{{vendorPhoneNo}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{vendorAddress}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{purchaseDesciption}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
