<div>
    <h2 id="page-heading">
        <span jhiTranslate="projectghApp.nurseryIncharge.home.title">Nursery Incharges</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-nursery-incharge" [routerLink]="['/nursery-incharge/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="projectghApp.nurseryIncharge.home.createLabel">
            Create new Nursery Incharge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="nurseryIncharges">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fromDate"><span jhiTranslate="projectghApp.nurseryIncharge.fromDate">From Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="toDate"><span jhiTranslate="projectghApp.nurseryIncharge.toDate">To Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="projectghApp.nurseryIncharge.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="projectghApp.nurseryIncharge.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nurseryNurseryName"><span jhiTranslate="projectghApp.nurseryIncharge.nursery">Nursery</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let nurseryIncharge of nurseryIncharges ;trackBy: trackId">
                <td><a [routerLink]="['/nursery-incharge', nurseryIncharge.id, 'view' ]">{{nurseryIncharge.id}}</a></td>
                <td>{{nurseryIncharge.fromDate | date:'mediumDate'}}</td>
                <td>{{nurseryIncharge.toDate | date:'mediumDate'}}</td>
                <td>{{nurseryIncharge.description}}</td>
                <td>{{nurseryIncharge.status}}</td>
                <td>
                    <div *ngIf="nurseryIncharge.nurseryId">
                        <a [routerLink]="['../nursery', nurseryIncharge.nurseryId , 'view' ]" >{{nurseryIncharge.nurseryNurseryName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/nursery-incharge', nurseryIncharge.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/nursery-incharge', nurseryIncharge.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'nursery-incharge/'+ nurseryIncharge.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="nurseryIncharges && nurseryIncharges.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
