<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="nurseryInventoryDetails">
            <h2><span jhiTranslate="projectghApp.nurseryInventoryDetails.detail.title">Nursery Inventory Details</span> {{nurseryInventoryDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projectghApp.nurseryInventoryDetails.date">Date</span></dt>
                <dd>
                    <span>{{nurseryInventoryDetails.date}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.nurseryInventoryDetails.quantity">Quantity</span></dt>
                <dd>
                    <span>{{nurseryInventoryDetails.quantity}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.nurseryInventoryDetails.status">Status</span></dt>
                <dd>
                    <span>{{nurseryInventoryDetails.status}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.nurseryInventoryDetails.description">Description</span></dt>
                <dd>
                    <span>{{nurseryInventoryDetails.description}}</span>
                </dd>
                <dt><span jhiTranslate="projectghApp.nurseryInventoryDetails.nurseryInventory">Nursery Inventory</span></dt>
                <dd>
                    <div *ngIf="nurseryInventoryDetails.nurseryInventoryId">
                        <a [routerLink]="['/nursery-inventory', nurseryInventoryDetails.nurseryInventoryId, 'view']">{{nurseryInventoryDetails.nurseryInventoryId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectghApp.nurseryInventoryDetails.damageType">Damage Type</span></dt>
                <dd>
                    <div *ngIf="nurseryInventoryDetails.damageTypeId">
                        <a [routerLink]="['/pick-list-value', nurseryInventoryDetails.damageTypeId, 'view']">{{nurseryInventoryDetails.damageTypePickListValue}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projectghApp.nurseryInventoryDetails.inventoryDamageDescription">Inventory Damage Description</span></dt>
                <dd>
                    <div *ngIf="nurseryInventoryDetails.inventoryDamageDescriptionId">
                        <a [routerLink]="['/pick-list-value', nurseryInventoryDetails.inventoryDamageDescriptionId, 'view']">{{nurseryInventoryDetails.inventoryDamageDescriptionPickListValue}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nursery-inventory-details', nurseryInventoryDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
